# R / RStudio
.Rhistory
.RData
.Rproj.user/

# renv libraries
renv/library/

# Outputs
outputs/*
!outputs/*.txt

# Large Seurat/Xenium objects
*.rds
*.h5ad
*.loom
*.parquet
*.h5

# OS / editor files
.DS_Store
*.swp

# Other
data/
*.log
mkdir
10
30
