# R / RStudio
.Rhistory
.RData
.Rproj.user/

# renv libraries
renv/library/

# Outputs
outputs/*
!outputs/*.txt

# Large Seurat/Xenium objects
*.rds
*.h5ad
*.loom
*.parquet
*.h5

# OS / editor files
.DS_Store
*.swp

# Other
data/
mkdir
10
30
Rplots.pdf

#Logs
logs/
*.out
*.err
*.log

#HPC job artifacts
*_R_job_*.out
*_R_job_*.err

#Temporary Files
*.tmp
